html{
    width: 100%;
    height: 100%;
}

body{
    background-image: url("https://pm1.aminoapps.com/7132/b9c52395cda7ed6537142ebbb765355e4dbfd21br1-1200-545v2_hq.jpg");
}

h1{
    text-align: center;
    color:rgb(34, 67, 96);
    font-size: 100px;
}
#b1{
    background-color: #358137;
    margin: 300px;
    padding: 70px;
    font-size: 30px;
}
#returns{
    font-size: 30px;
}