html{
    width: 100%;
    height: 100%;
}

body{
    background-image: url("https://pm1.aminoapps.com/7132/b9c52395cda7ed6537142ebbb765355e4dbfd21br1-1200-545v2_hq.jpg");
}


#banner{
   background-color: #358137;
}
#navbar a {
    text-align: center;
    width: 125px;
    padding: 10px;
    margin: 250px;
    color:rgb(34, 67, 96);
    font-size: 22px
    
}
a{
    color:rgb(34, 67, 96);
}
h1{
    text-align: center;
    color:rgb(34, 67, 96)
}
#fight-scene{
    text-align: center;

} 

video{
    margin: 30px;
}